body {
  background-color: darkgray;
  margin-left: 150px;
}

th {
  border: 1px solid black;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: rgb(234, 240, 240);
}

.sidebar .button {
  display: block;
  height: 100px;
  width: 150px;
}
