body {
  background-color: darkgray;
  margin-left: 150px;
}

th {
  border: 1px solid black;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: rgb(81, 90, 90);
}
